body{
    background-color: #f8d4ff;
}
a{
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}
.myheadercard{
    background-color: #c2ebffc4;
    width: 100%;
}
.mainTitle{
    transition: all .3s;
    width:6em;
}
.mainTitle:hover{
    color: #ffaa7f;	
}
.myheadercard img{
    width: 7em;
    border-radius: 0.5em;
    border: 3px solid #766779;
    box-shadow:
        2.2px 1.9px 4.3px rgba(0, 0, 0, 0.03),
        5.3px 4.7px 10.3px rgba(0, 0, 0, 0.044),
        10px 8.8px 19.4px rgba(0, 0, 0, 0.055),
        17.9px 15.6px 34.6px rgba(0, 0, 0, 0.065),
        33.4px 29.2px 64.8px rgba(0, 0, 0, 0.079),
        80px 70px 155px rgba(0, 0, 0, 0.11);
        transition: all 0.3s;
}
.myheadercard img:hover{
    border-radius: 100%;
    border: 3px solid #ffaa7f;
}
.myheadercard a:hover{
    color: #ffaa7f;
}
.mytiltecard{
    background-color: #c2ebffc4;
}
.mycard{
    background-color: #c2ebffc4;
    transition: all .3s;
}
.mycard:hover{
    background-color: #e7ffcd;
}

@media (max-width: 580px) {
    #logopic{
        margin-top: -6.5em;
    }
}