body{
    background-color: #f8d4ff;
}
a{
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}
.myheadercard{
    background-color: #c2ebffc4;
    width: 100%;
}
.mainTitle{
    transition: all .3s;
    width:6em;
}
.mainTitle:hover{
    color: #ffaa7f;	
}
.myheadercard img{
    width: 7em;
    border: 3px solid #d5ffea;
    border-radius: 0.5em;
    box-shadow:
        2.3px 1.6px 2px rgba(0, 0, 0, 0.017),
        4.4px 3px 4.2px rgba(0, 0, 0, 0.026),
        6.5px 4.4px 7px rgba(0, 0, 0, 0.034),
        8.7px 6px 11.1px rgba(0, 0, 0, 0.042),
        11.5px 7.9px 18.5px rgba(0, 0, 0, 0.053),
        16px 11px 37px rgba(0, 0, 0, 0.07);
    transition: all 0.3s;
}
.myheadercard img:hover{
    border-radius: 100%;
    border: 3px solid #ffaa7f;
}
.myheadercard a:hover{
    color: #ffaa7f;
}
.mytiltecard{
    background-color: #c2ebffc4;
}
.mycard{
    background-color: #c2ebffc4;
    transition: all .3s;
}
.mycard:hover{
    background-color: #e7ffcd;
}
.floatBtn{
    position: fixed;
    bottom:2em;
    right:2em;
}

@media (max-width: 580px) {
    #logopic{
        margin-top: -6.5em;
    }
}