<!DOCTYPE html>
<html lang="zh-CN">
<html>
	<head>
		<meta charset="utf-8" />
		<title>心尘的工具集 | 关于</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="https://my.wulvxinchen.cn/tools/logo.ico" type="image/x-icon">
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="./css/bootstrap.min.css">
        <link rel="stylesheet" href="./bootstrap-icons/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="./css/index.css">
	</head>
	<body>	
		<div class="container" id="webList">
            <div class="card text-dark myheadercard my-4">
				<div class="card-body">
					<div class="row">
						<div class="col-sm">
							<h2 class="mainTitle"><strong>心尘的工具集</strong></h2>
							<span style="font-weight:600">这是一个完全免费且集合了多个工具网站的网站!<br>
                                喜欢可以在
                                <a href="https://github.com/drpasserby/XinchenWebTools" >GitHub</a>
                                给个☆Star！<br><br>
                                如果有添加/下架/举报/反馈/支持等需求的请在
                                <a href="https://github.com/drpasserby/XinchenWebTools/issues" style="color:#20a53a">反馈</a>
                                这里发布一个Issue，<br>
                                这会自动通过邮件快速告知我。
                            </span><br><br>
                            <strong>目前支持的功能</strong>
                            <ul>
                                <li>
                                    <b>多个工具网站集合，点击即达!</b>
                                </li>
                                <li>
                                    <b>随机一站</b>
                                </li>
                                <li>
                                    <b>详情页面</b>
                                </li>
                                <li>
                                    <b>基础搜索</b>
                                </li>
                                <li>
                                    <b>分享网站</b>
                                </li>
                                <li>
                                    <b>自动跳转</b>
                                </li>
                                <li>
                                    <b>网站设置</b>
                                </li>
                            </ul>
						</div>
						<div class="col-sm">
                            <a href="./" class="float-end" id="logopic">
								<img class="myheadercardImg" src="https://my.wulvxinchen.cn/pictures/logo/logo.webp">
							</a>
						</div>
					</div>
				</div>
			</div>
            <a href="https://my.wulvxinchen.cn/tools/" class="btn btn-primary ms-2">< 返回工具集</a><a href="https://wulvxinchen.cn/" class="btn btn-success ms-2">< 前往导航站</a>
            <div class="container card text-dark myheadercard my-4">
                <h3 class="my-2"><strong>网站设置</strong></h3>
                <p class="text-secondary"><strong>注意：本设置仅对当前设备以及浏览器有效。</strong></p>
                <div class="form-check my-2">
                    <input class="form-check-input" type="checkbox" value="" id="btna" v-model="webSettings.autoJump">
                    <label class="form-check-label" for="btna">
                        <strong>分享的链接是否自动跳转</strong>
                    </label>
                </div>
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="ipa" v-model="webSettings.autoJumpTime">
                    <label for="floatingInput">网站跳转的延迟时间(ms)</label>
                </div>
                <div class="my-2">
                    <button type="button" class="btn btn-primary" @click="save()">保存</button>
                    <button type="button" class="btn btn-success mx-2" @click="back()">恢复默认设置</button>
                </div>
            </div>
            <div class="card text-dark myheadercard my-4 p-2">
                <h3><strong>赞助</strong></h3>
                <div class="my-1">
                    <strong>这是非强制性的赞助项目，本网站依旧完全免费!如果你喜欢这个网站的话，只需要一瓶大可乐就可以让我开心很久很久！</strong>
                </div>
                <div class="my-1">
                    <a href="https://afdian.net/a/wulvxinchen" target="_blank">
                        <img class="myheadercardImg" src="https://my.wulvxinchen.cn/pictures/things/%E7%88%B1%E5%8F%91%E7%94%B5.png">
                    </a>
                </div>
            </div>
            <div class="card text-secondary myheadercard my-4 p-1" style="height: 2em;">
                <strong id="time"></strong>
            </div>
        </div>		
	</body>
	<script>
	var app =new Vue({
		el:'#webList',
		data:{
            //URL参数信息
            webSettings:{
                autoJump:false,
                autoJumpTime:5000
            }
		},
		methods:{
            save:function(){
                localStorage.setItem("webSettings",JSON.stringify(this.webSettings));
            },
            back:function(){
                ws = {
                    autoJump:false,
                    autoJumpTime:5000
                };
                this.webSettings = ws;
                localStorage.setItem("webSettings",JSON.stringify(ws));
            }
		},
        created:function(){
            var ws = localStorage.getItem("webSettings");
            if(ws){
                this.webSettings = JSON.parse(ws);
            }
        }
	});
	</script>
    <script>
        var t1="2017/07/16  00:00:00"; //起始日期
        var dateBegin = new Date(t1);
        var time=document.getElementById("time");
        function getnewtime(){
        let dateEnd = new Date();//现在日期
        let dateDiff = dateEnd.getTime() - dateBegin.getTime();//时间差的毫秒数
        
        let dayDiff  = Math.floor(dateDiff / (24 * 3600 * 1000));//计算出相差天数
        
        let leave1   = dateDiff%(24*3600*1000) //计算天数后剩余的毫秒数
        let hours    = (Array(2).join(0) + Math.floor(leave1/(3600*1000))).slice(-2)//计算出小时数
        
        let leave2   = leave1%(3600*1000) //计算小时数后剩余的毫秒数
        let minutes  = (Array(2).join(0) + Math.floor(leave2/(60*1000))).slice(-2)//计算相差分钟数
        
        let leave3   = leave2%(60*1000) //计算分钟数后剩余的毫秒数
        let seconds  = (Array(2).join(0) + Math.round(leave3/1000)).slice(-2)
        
        time.innerText=("这里已经被尘埃覆盖了"+dayDiff+"天"+hours+"小时"+minutes+"分"+seconds+"秒");
        console.log("+1s");
        }
        window.onload=function(){
            setInterval("getnewtime()",1000);
        }
    </script>
    <script src="js\bootstrap.bundle.min.js"></script>
</html>
