<!DOCTYPE html>
<html lang="zh-CN">
<html>
	<head>
		<meta charset="utf-8" />
		<title>心尘的工具集</title>
		<link rel="icon" href="https://my.wulvxinchen.cn/tools/logo.ico" type="image/x-icon">
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="./css/bootstrap.min.css">
        <link rel="stylesheet" href="./bootstrap-icons/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="./css/index.css">
	</head>
	<body>	
		<div class="container" id="webList">
			<div class="card text-dark myheadercard my-4">
				<div class="card-body">
					<div class="row">
						<div class="col-sm">
							<h2 class="mainTitle"><strong>心尘的工具集</strong></h2>
							<span style="font-weight:600">To &nbsp;&nbsp;<a href="https://wulvxinchen.cn/">导航站</a>
								&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://github.com/drpasserby/XinchenWebTools/issues">反馈</a>
								&nbsp;&nbsp;|&nbsp;&nbsp;<a href="./about.html">关于</a></span>
							<p style="color:#505050;font-weight:600">喜欢请给个
								<a href="https://github.com/drpasserby/XinchenWebTools">☆Star</a>！
							</p>
						</div>
						<div class="col-sm">
							<a href="./about.html" class="float-end"><img src="https://my.wulvxinchen.cn/pictures/logo/logo.webp"></a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row g-4 my-4">
				<div class="col-lg">
					<div class="card text-dark mytiltecard">
						<div class="card-body text-center" @click="show(update.til)">
							<div class="card-title">
								<h3><i class="bi bi-stack">&nbsp;</i><strong>状态</strong></h3>
							</div>
							<h5 v-if="update.src==200"><strong>共有{{webCount}}个网站</strong></h5>
							<p class="my-3" v-else>{{update.til}}</p>	
							<p class="my-3">更新时间{{update.name}}	</p>					
						</div>
					</div>
				</div>
				<div class="col-lg">
					<div class="card text-dark mytiltecard">
						<div class="card-body text-center">
							<div class="card-title">
								<h3><strong>随机一站</strong></h3>
							</div>
							<div class="mycard-text my-2" v-if="update.src==200">
								<strong>{{weblist[randomweb].type}}:{{weblist[randomweb].name}}</strong><br>								
							</div>
							<p class="my-3" v-else>{{update.til}}</p>	
							<button @click="randomWebFun" class="btn btn-danger mt-2">再换一个</button>
							<button @click="show(weblist[randomweb].til)" class="btn btn-primary mt-2">查看信息</button>
							<a :href="weblist[randomweb].src" class="btn btn-success mt-2" target="_blank">前往</a>									
						</div>
					</div>
				</div>
				<div class="col-lg">
					<div class="card text-dark mytiltecard">
						<div class="card-body text-center">
							<div class="card-title">
								<h3><strong>搜索</strong></h3>
								<div class="input-group news-input my-4">
									<span class="input-group-text"> <i class="bi bi-search"></i></span>
									<input type="text" class="form-control" v-model="searchWord">
									<button @click="search" class="btn btn-primary">搜索</button>
								</div>
							</div>								
						</div>
					</div>
				</div>
			</div>

			<div class="row g-4 my-4" v-for="ele in weblist2">
				<div class="col-lg">
					<div class="card text-dark mycard">
						<div class="card-body text-center">
							<div class="card-title">
								<h3><strong>{{ele[0].name}}</strong></h3>
							</div>
							<div class="mycard-text">
								{{ele[0].type}}<br>
							</div>
							<button @click="show(ele[0].til)" class="btn btn-primary mt-2">查看信息</button>
							<a :href="ele[0].src" class="btn btn-success mt-2" target="_blank">前往</a>									
						</div>
					</div>
				</div>
				<div class="col-lg">
					<div class="card text-dark mycard">
						<div class="card-body text-center">
							<div class="card-title">
								<h3><strong>{{ele[1].name}}</strong></h3>
							</div>
							<div class="mycard-text">
								{{ele[1].type}}<br>
							</div>
							<button @click="show(ele[1].til)" class="btn btn-primary mt-2">查看信息</button>
							<a :href="ele[1].src" class="btn btn-success mt-2" target="_blank">前往</a>									
						</div>
					</div>
				</div>
				<div class="col-lg">
					<div class="card text-dark mycard">
						<div class="card-body text-center">
							<div class="card-title">
								<h3><strong>{{ele[2].name}}</strong></h3>
							</div>
							<div class="mycard-text">
								{{ele[2].type}}<br>
							</div>
							<button @click="show(ele[1].til)" class="btn btn-primary mt-2">查看信息</button>
							<a :href="ele[2].src" class="btn btn-success mt-2" target="_blank">前往</a>									
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
	var app =new Vue({
		el:'#webList',
		data:{
			randomweb:0,
			weblist:[[],[],[]],
			update:{name:"未能获取",til:"服务器已断开"},
			searchWord:"",
		},
		methods:{
			randomWebFun:function(){
				this.randomweb=Math.round(Math.random()*this.webCount);
			},
			search:function(){
				window.find(this.searchWord)
			},
			show:function(s){
				if(s==""){
					alert("暂未信息");
				}
				else alert(s);
			},
		},
		computed:{
			webCount:function(){
				return this.weblist.length;//总网址数量，自动更新，不需要维护
			},
            weblist2:function(){
				if(this.weblist.length%3!=0)alert("网站列表数据数量错误，需要修正");
                var weblist1=[]
                for(var i=0;i<this.weblist.length;i+=3){
                    weblist1.push(this.weblist.slice(i,i+3));
                }
                return weblist1;
            }
		},
		beforeCreate:function(){
			axios.get("https://my.wulvxinchen.cn/tools/weblist.json").then((response) => {
				this.weblist=response.data.weblist.slice().reverse();//从远程获取网站列表。数据来自@吾律心尘服务器
				this.update=response.data.update;//从远程获取更新信息。数据来自@吾律心尘服务器
			})
		},
	});
	</script>
    <script src="js\bootstrap.bundle.min.js"></script>
</html>
