<!DOCTYPE html>
<html lang="zh-CN">
<html>
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>心尘的工具集</title>
		<link rel="icon" href="https://my.wulvxinchen.cn/tools/logo.ico" type="image/x-icon">
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/axios.min.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="./css/bootstrap.min.css">
        <link rel="stylesheet" href="./bootstrap-icons/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="./css/index.css">
	</head>
	<body>	
		<div class="container" id="webList">
            <div class="card text-dark myheadercard my-4">
				<div class="card-body">
					<div class="row">
						<div class="col-sm">
							<h2 class="mainTitle"><strong>心尘的工具集</strong></h2>
							<span style="font-weight:600">To &nbsp;&nbsp;<a href="https://wulvxinchen.cn/">导航站</a>
								&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://github.com/drpasserby/XinchenWebTools/issues">反馈</a>
								&nbsp;&nbsp;|&nbsp;&nbsp;<a href="./about.html">关于</a></span>
							<p style="color:#505050;font-weight:600">喜欢请给个
								<a href="https://github.com/drpasserby/XinchenWebTools">☆Star</a>！
							</p>
						</div>
						<div class="col-sm">
                            <a href="./about.html" class="float-end" id="logopic">
								<img src="https://my.wulvxinchen.cn/pictures/logo/logo.webp">
							</a>
						</div>
					</div>
				</div>
			</div>
            <a href="https://my.wulvxinchen.cn/tools/" class="btn btn-primary ms-2">< 返回工具集</a>
            <div v-if="this.id!=-1">
                <div class="row g-4 my-2">
                    <div class="col-lg">
                        <div class="card text-dark mytiltecard">
                            <div class="card-body">
                                <div class="card-title">
                                    <h1><strong>{{weblist[id-1].name}}</strong></h1>
                                </div>
                                <div class="text-secondary my-2">
                                    <h4><strong>类型:{{weblist[id-1].type}}</strong></h4>							
                                </div>
                                <div class="text-secondary my-2">
                                    <strong>简介:{{weblist[id-1].til}}</strong><br>
                                </div>
                                <button @click="share()" class="btn btn-primary mt-2">分享</button>
                                <a :href="weblist[id-1].url" class="btn btn-success mt-2" target="_blank">前往</a>							
                            </div>
                        </div>
                    </div>
                </div>
            
                <button @click="randomShow" class="btn btn-primary mt-3 ms-2">我要更多有趣</button>
                <div class="row g-4 my-2" v-if="isShowRandom">
                    <div class="col-lg">
                        <div class="card text-dark mytiltecard">
                            <div class="card-body">
                                <div class="card-title">
                                    <h3><strong>{{weblist[random[0]].name}}</strong></h3>
                                </div>
                                <div class="text-secondary my-2">
                                    <strong>类型:{{weblist[random[0]].type}}</strong><br>							
                                </div>
                                <div class="text-secondary my-2">
                                    <strong>简介:{{weblist[random[0]].til}}</strong><br>
                                </div>
                                <a :href="weblist[random[0]].url" class="btn btn-success mt-2" target="_blank">前往</a>									
                            </div>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="card text-dark mytiltecard">
                            <div class="card-body">
                                <div class="card-title">
                                    <h3><strong>{{weblist[random[1]].name}}</strong></h3>
                                </div>
                                <div class="text-secondary my-2">
                                    <strong>类型:{{weblist[random[1]].type}}</strong><br>							
                                </div>
                                <div class="text-secondary my-2">
                                    <strong>简介:{{weblist[random[1]].til}}</strong><br>
                                </div>
                                <a :href="weblist[random[1]].url" class="btn btn-success mt-2" target="_blank">前往</a>									
                            </div>
                        </div>
                    </div>
                    <div class="col-lg">
                        <div class="card text-dark mytiltecard">
                            <div class="card-body">
                                <div class="card-title">
                                    <h3><strong>{{weblist[random[2]].name}}</strong></h3>
                                </div>
                                <div class="text-secondary my-2">
                                    <strong>类型:{{weblist[random[2]].type}}</strong><br>							
                                </div>
                                <div class="text-secondary my-2">
                                    <strong>简介:{{weblist[random[2]].til}}</strong><br>
                                </div>
                                <a :href="weblist[random[2]].url" class="btn btn-success mt-2" target="_blank">前往</a>									
                            </div>
                        </div>
                    </div>
                </div>
		    </div>
            <div v-else>
                页面不存在或者网址错误
            </div>
        </div>
	</body>
	<script>
	var app =new Vue({
		el:'#webList',
		data:{
            weblist:[[],[],[]],
            random:[60,70,80],
            isShowRandom:false,
		},
		methods:{
            randomShow:function(){
                if(this.isShowRandom==false){
                    this.isShowRandom = true
                }
                this.random[0]=Math.round(Math.random()*this.weblist.length-1);
                this.random[1]=Math.round(Math.random()*this.weblist.length-1);
                this.random[2]=Math.round(Math.random()*this.weblist.length-1);
            },
            share:function(){
                const input = document.createElement('input')
                input.value = window.location.href
                document.body.appendChild(input)
                input.select()
                document.execCommand('Copy')
                document.body.removeChild(input)
                alert("已复制网址到剪贴板,快去分享吧!")
            }
		},
		computed:{
            id:function(){
                let id = window.location.href.split('=')[1]
                if(0<=id&id<=this.weblist.length){
                    return id
                }
                else{
                    return -1
                }
            },
		},
		beforeCreate:function(){
			axios.get("https://my.wulvxinchen.cn/tools/weblist.json").then((response) => {
				this.weblist=response.data.weblist.slice();//从远程获取网站列表。数据来自@吾律心尘服务器
			})
		},
	});
	</script>
    <script src="js\bootstrap.bundle.min.js"></script>
</html>
